
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 200px;
    background-image: linear-gradient(to bottom right, rgb(186, 147, 211), rgba(255, 255, 0, 0.572));
  }
  
  /* Header/Blog Title */
  .header {
    padding: 30px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
  }
  
  .header h1 {
    font-size: 70px;
    color: rgba(51, 5, 82, 0.658);
    font-weight: bold;

  }
  h2 {
    font-size: 25px;
    color: rgba(51, 5, 82, 0.658);
    font-weight: bold;
  }

  p {
    font-size: 25px;
    color: rgba(51, 5, 82, 0.658);
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: rgba(136, 65, 155, 0.527);
    border-radius: 45PX;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #dcb8f9;
    color: rgb(195, 102, 221);
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {   
    float: left;
    width: 75%;
    border-radius: 45PX;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }
  
  .fill {object-fit: fill;}
  
  /* Add a card effect for articles */
  .card {
    background-color: rgba(255, 255, 255, 0.266);
    padding: 20px;
    margin-top: 20px;
    border-radius: 45PX;
  }
  
  /* Clear floats after the columns */
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 10px;
    text-align: center;
    background-image: linear-gradient(rgba(255, 255, 8, 0.578), rgb(186, 147, 211));
    /* margin-top: 20px; */
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }